<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/wsb-webapp/css/main.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="js/jquery.toc.js"></script>

    <script>
    $(function() {
        $('.page_content').toc({
    showAlways:true
});
        $('#toc').toc({
    showAlways:true
});
        console.log("TOC2");
    })
    
    </script>
 
</head>
